@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<script>
            $(document).ready(function () {
                $('form:first').submit(function (e) {
                    e.preventDefault();
                    var $form = $(this);
                    var formData = $form.serializeObject(); // https://github.com/macek/jquery-serialize-object
                    formData.grant_type = "password";
                    var tokenSuccess = registerToken(formData);
                    if (tokenSuccess == true) {
                        $form.get(0).submit(); // do the actual register now.
                    }
                    else {
                        $('#error').show();
                        $('#errorTitle').after(tokenSuccess);
                    }
                });
            });
</script>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
