<template>
    <require from="./detail.css"></require>
    <h1>Medical Professional Detail</h1>

    <p>This component demonstrates fetching via UI Parameter.</p>

    <p if.bind="!medicalProfessional"><em>Loading...</em></p>

    <div if.bind="medicalProfessional" class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">  <h4>Medical Professional</h4></div>
                    <div class="panel-body">

                        <div class="box box-info">

                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <!-- Temporary Image -->
                                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                        <br>

                                        <!-- /input-group -->
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 style="color:#00b1b1;">Medical Professional</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital ">First Name:</div><div class="col-sm-7 col-xs-6 ">${ medicalProfessional.firstMidName }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Last Name:</div><div class="col-sm-7">  ${ medicalProfessional.lastName }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">${ medicalProfessional.email }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Phone Number:</div><div class="col-sm-7">${ medicalProfessional.phoneNumber }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Service Category:</div><div class="col-sm-7">${ medicalProfessional.service.category }</div>
                                    <div class="clearfix"></div>

                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Facility Name:</div><div class="col-sm-7">${ medicalProfessional.facility.facilityName }</div>
                                    <div class="clearfix"></div>

                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Website:</div><div class="col-sm-7">${ medicalProfessional.website }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Notes:</div><div class="col-sm-7">${ medicalProfessional.notes }</div>

                                    <!-- /.box-body -->
                                </div>
                                <div class="col-sm-6">
                                    <div align="center">
                                        <!-- Temporary Image -->
                                        <img alt="Facility Pic" src="https://cdn4.iconfinder.com/data/icons/hotel-bold-line-7/48/322-512.png" id="profile-image1" class="img-circle img-responsive">
                                        <br>

                                        <!-- /input-group -->
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 style="color:#00b1b1;">Facility</h4>
                                        <span>${ medicalProfessional.service.category }</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital ">Name:</div><div class="col-sm-7 col-xs-6 ">${ medicalProfessional.facility.facilityName }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Address:</div><div class="col-sm-7">
                                        ${ medicalProfessional.facility.location.streetNo }
                                        ${ medicalProfessional.facility.location.street }
                                        ${ medicalProfessional.facility.location.suburb },
                                        ${ medicalProfessional.facility.location.postcode }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">${ medicalProfessional.facility.email }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Phone Number:</div><div class="col-sm-7">${ medicalProfessional.facility.phoneNumber }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Name:</div><div class="col-sm-7">${ medicalProfessional.facilityName }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Website:</div><div class="col-sm-7">${ medicalProfessional.facility.website }</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-sm-5 col-xs-6 tital ">Notes:</div><div class="col-sm-7">${ medicalProfessional.facility.notes }</div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" if.bind="medicalProfessional.feedback">
            <!--
            <div class="col-sm-3">
                <div class="rating-block">
                    <h4>Average user rating</h4>
                    <h2 class="bold padding-bottom-7"><small>/ ${reviews.averageRating}</small></h2>
                        <button type="button" class="btn btn-warning btn-xs" repeat.for="review.rating" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-grey btn-xs" repeat.for="review.rating - 5" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                </div>
            </div>
        -->
        </div>

        <div class="row">
            <div class="col-sm-7">
                <hr />
                <div class="review-block">
                   
                    <!--<div class="row" repeat.for="review of medicalProfessional.feedback">
                        <div class="col-sm-3">
                            <img src="${getUser(review.userId).image}" class="img-rounded">
                            <div class="review-block-name"><a href="#">${getUser(review.userId)}</a></div>
                            <div class="review-block-date">${review.time}<br />${getDaysAgo(review.time)}</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">

                                <button type="button" class="btn btn-warning btn-xs" repeat.for="review.rating" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-grey btn-xs" repeat.for="review.rating - 5" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="review-block-title">${review.title}</div>
                            <div class="review-block-description">${review.comment}</div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <div if.bind="medicalProfessional.feedback" repeat.for="review of feedback">
            title: string;
            rating: number;
            comment: string;
            time: Date;
            userId: number;
        </div>
    </div>
    </div>
</template>
