<template>
    <h1>Medical Professionals List</h1>

    <p if.bind="!medicalProfessionals"><em>Loading...</em></p>
    <form role="form" submit.delegate="SearchMedicalProfessionals()">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" value.bind="filters.any" placeholder="Search for medical professionals" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form submit.delegate="SearchMedicalProfessionals()">
                                <div class="form-group">
                                    <label for="contain">Identity</label>
                                    <input class="form-control" value.bind="filters.identity" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control" value.bind="filters.service">
                                        <option selected value="undefined">All Services</option>
                                        <option repeat.for="service of services" value="${service.category}">${service.category}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Location</label>
                                    <input class="form-control" value.bind="filters.location" type="text" />
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </form>
    <table if.bind="medicalProfessionals" class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Notes</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="medicalProfessional of medicalProfessionals">
                <td>${ medicalProfessional.firstMidName } ${ medicalProfessional.lastName }</td>
                <td>${ medicalProfessional.email }</td>
                <td>${ medicalProfessional.phoneNumber }</td>
                <td>${ medicalProfessional.notes }</td>
                <td><a href="#/medical/detail/${medicalProfessional.id}">View</a></td>
            </tr>
        </tbody>
    </table>
</template>
