<template>
    <h1>Medical Professionals</h1>

    <p if.bind="!medicalProfessionals">
        <em>Loading...</em>
    </p>
    <form role="form" submit.delegate="SearchMedicalProfessionals()">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" value.bind="filters.any" placeholder="Search for medical professionals" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="contain">Identity</label>
                                    <input class="form-control" value.bind="filters.identity" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control" value.bind="filters.service">
                                        <option selected value="undefined">All Services</option>
                                        <option repeat.for="service of services" value="${service.category}">${service.category}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Location</label>
                                    <input class="form-control" value.bind="filters.location" type="text" />
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <table if.bind="disabled" class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Notes</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="medicalProfessional of medicalProfessionals">
                <td>${ medicalProfessional.firstMidName } ${ medicalProfessional.lastName }</td>
                <td>${ medicalProfessional.email }</td>
                <td>${ medicalProfessional.phoneNumber }</td>
                <td>${ medicalProfessional.notes }</td>
                <td>
                    <a href="#/medical/detail/${medicalProfessional.id}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 listing-block">
        <div class="media" repeat.for="medicalProfessional of medicalProfessionals">
            <div class="fav-box"> <!-- Only for logged in users -->
                <i class="fa fa-bookmark" aria-hidden="true"></i>
            </div>
            <img class="d-flex align-self-start" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                alt="Generic placeholder image">
            <div class="media-body pl-3">
                <div class="title"><a href="#/medical/detail/${medicalProfessional.id}">${ medicalProfessional.firstMidName } ${ medicalProfessional.lastName }</a>
                    <small>${medicalProfessional.service.category}</small>
                </div>
                <div class="stats">
                    <span>
                        <i class="fa fa-envelope"></i>${ medicalProfessional.email }</span>
                    <span>
                        <i class="fa fa-phone"></i>${ medicalProfessional.phoneNumber }</span>
                </div>
                <div class="address">
                    ${medicalProfessional.facility.location.streetNo}
                    ${medicalProfessional.facility.location.street},
                    ${medicalProfessional.facility.location.suburb}
                    ${medicalProfessional.facility.location.state},
                    ${medicalProfessional.facility.location.postcode}
                </div>
                <a href="#/medical/detail/${medicalProfessional.id}">View</a>
            </div>
        </div>
    </div>

</template>