<template>
    <h1>Medical Professionals List</h1>

    <p>This component demonstrates fetching data from the server.</p>

    <p if.bind="!medicalProfessionals"><em>Loading...</em></p>

    <table if.bind="medicalProfessionals" class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Notes</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="medicalProfessional of medicalProfessionals">
                <td>${ medicalProfessional.firstMidName } ${ medicalProfessional.lastName }</td>
                <td>${ medicalProfessional.email }</td>
                <td>${ medicalProfessional.phoneNumber }</td>
                <td>${ medicalProfessional.notes }</td>
                <td><a href="#/medical/detail/${medicalProfessional.medicalId}">View</a></td>
            </tr>
        </tbody>
    </table>
</template>
