@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
}


.listing-block{background:#fff; height:500px; padding-top:20px; overflow-y:scroll;}
.slimScrollDiv{width:41%!important;}
.media {background:#fff; position:relative; margin-bottom:15px;}
.media img{width:200px;margin:0; height:150px;}
.media-body{border:1px solid #bcbcbc; border-left:0; height:150px;}
.media .title{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .title small{display:block; font-size:17px; color:#232323;}
.media .stats{float:left; width:100%; margin-top:10px;}
.media .stats span{float:left; margin-right:10px; font-size:15px;}
.media .stats span i{margin-right:7px; color:#4765AB;}
.media .address{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}
.media .fav-box{position:absolute; right:10px; font-size:20px; top:4px; color:#E74C3C;}

/** Variables **/
body {
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .toast, #sc-confirm, #sc-backdrop {
    transition: ease 0.25s;
  }
  .toast a, .toast button, .toast input, .toast textarea, .toast select, .toast div, #sc-confirm a, #sc-confirm button, #sc-confirm input, #sc-confirm textarea, #sc-confirm select, #sc-confirm div, #sc-backdrop a, #sc-backdrop button, #sc-backdrop input, #sc-backdrop textarea, #sc-backdrop select, #sc-backdrop div {
    transition: ease 0.25s;
  }
  
  /** Toast styles **/
  .toast {
    display: inline;
    position: fixed;
    top: 0.25em;
    left: 0;
    right: 0;
    max-width: 400px;
    transform: scale(0);
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
    z-index: 9999;
  }
  .toast.success {
    background: #4591bf;
    border-bottom: 4px solid #366988;
  }
  .toast.error {
    background: #da4242;
    border-bottom: 4px solid #af3535;
  }
  .toast.info {
    color: #252525;
    background: #EEE;
    border-bottom: 4px solid #CCC;
  }
  .toast.show {
    transform: scale(1);
  }
  .toast.gone {
    transform: scale(0);
  }
  
  #sc-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  #sc-backdrop.show {
    opacity: 1;
  }
  
  #sc-confirm {
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    max-width: 375px;
    transform: scale(0);
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    border-radius: 2px;
    background: #FFF;
    border-bottom: 4px solid #CCC;
    z-index: 9999;
  }
  #sc-confirm.absolute {
    margin-top: 25%;
  }
  #sc-confirm p {
    font-size: 1.05em;
    margin: 0 0 0.75em;
  }
  #sc-confirm input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #EEE;
    font-size: 1em;
    border-radius: 2px;
  }
  #sc-confirm input:focus, #sc-confirm input:active {
    outline: none;
    border-color: #CCC;
  }
  #sc-confirm button {
    display: inline-block;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #4591bf;
    padding: 0.5em 1em;
    color: #4591bf;
    font-size: 1em;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    background: #FFF;
    box-shadow: none;
    font-size: 0.9em;
  }
  #sc-confirm button:first-of-type {
    background: #EEE;
    color: #da4242;
    border: none;
    border-bottom: 2px solid #da4242;
  }
  #sc-confirm button:first-of-type:hover, #sc-confirm button:first-of-type.active {
    background: #da4242;
    color: #FFF;
  }
  #sc-confirm button:last-of-type {
    float: right;
    background: #4591bf;
    color: #FFF;
  }
  #sc-confirm button:last-of-type:hover {
    background: #366988;
  }
  #sc-confirm button:only-of-type {
    float: none;
    background: #EEE;
    color: #000;
    border: none;
  }
  #sc-confirm button:only-of-type:hover {
    background: #CCC;
    color: #000;
  }
  #sc-confirm button:last-of-type[disabled] {
    opacity: 0.5;
    background: none;
    border-color: #CCC;
    color: #999;
    cursor: not-allowed;
  }
  #sc-confirm.show {
    transform: scale(1);
  }
  
/**Checkbox design */

/* ---------------------------------------------------

Project : CSS Checkbox Switch

---------------------------------------------------- */


.checkbox.checbox-switch {
    padding-left: 0;
}

    .checkbox.checbox-switch label,
    .checkbox-inline.checbox-switch {
        display: inline-block;
        position: relative;
        padding-left: 0;
    }

        .checkbox.checbox-switch label input,
        .checkbox-inline.checbox-switch input {
            display: none;
        }

        .checkbox.checbox-switch label span,
        .checkbox-inline.checbox-switch span {
            width: 35px;
            border-radius: 20px;
            height: 18px;
            border: 1px solid #dbdbdb;
            background-color: rgb(255, 255, 255);
            border-color: rgb(223, 223, 223);
            box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

            .checkbox.checbox-switch label span:before,
            .checkbox-inline.checbox-switch span:before {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: rgb(255,255,255);
                content: " ";
                top: 0;
                position: relative;
                left: 0;
                transition: all 0.3s ease;
                box-shadow: 0 1px 4px rgba(0,0,0,0.4);
            }

        .checkbox.checbox-switch label > input:checked + span:before,
        .checkbox-inline.checbox-switch > input:checked + span:before {
            left: 17px;
        }


        /* Switch Default */
        .checkbox.checbox-switch label > input:checked + span,
        .checkbox-inline.checbox-switch > input:checked + span {
            background-color: rgb(180, 182, 183);
            border-color: rgb(180, 182, 183);
            box-shadow: rgb(180, 182, 183) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch > input:checked:disabled + span {
            background-color: rgb(220, 220, 220);
            border-color: rgb(220, 220, 220);
            box-shadow: rgb(220, 220, 220) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch label > input:disabled + span,
        .checkbox-inline.checbox-switch > input:disabled + span {
            background-color: rgb(232,235,238);
            border-color: rgb(255,255,255);
        }

            .checkbox.checbox-switch label > input:disabled + span:before,
            .checkbox-inline.checbox-switch > input:disabled + span:before {
                background-color: rgb(248,249,250);
                border-color: rgb(243, 243, 243);
                box-shadow: 0 1px 4px rgba(0,0,0,0.1);
            }

        /* Switch Light */
        .checkbox.checbox-switch.switch-light label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-light > input:checked + span {
            background-color: rgb(248,249,250);
            border-color: rgb(248,249,250);
            box-shadow: rgb(248,249,250) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        /* Switch Dark */
        .checkbox.checbox-switch.switch-dark label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-dark > input:checked + span {
            background-color: rgb(52,58,64);
            border-color: rgb(52,58,64);
            box-shadow: rgb(52,58,64) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-dark label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-dark > input:checked:disabled + span {
            background-color: rgb(100, 102, 104);
            border-color: rgb(100, 102, 104);
            box-shadow: rgb(100, 102, 104) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        /* Switch Success */
        .checkbox.checbox-switch.switch-success label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-success > input:checked + span {
            background-color: rgb(40, 167, 69);
            border-color: rgb(40, 167, 69);
            box-shadow: rgb(40, 167, 69) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-success label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-success > input:checked:disabled + span {
            background-color: rgb(153, 217, 168);
            border-color: rgb(153, 217, 168);
            box-shadow: rgb(153, 217, 168) 0px 0px 0px 8px inset;
        }

        /* Switch Danger */
        .checkbox.checbox-switch.switch-danger label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-danger > input:checked + span {
            background-color: rgb(200, 35, 51);
            border-color: rgb(200, 35, 51);
            box-shadow: rgb(200, 35, 51) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-danger label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-danger > input:checked:disabled + span {
            background-color: rgb(216, 119, 129);
            border-color: rgb(216, 119, 129);
            box-shadow: rgb(216, 119, 129) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        /* Switch Primary */
        .checkbox.checbox-switch.switch-primary label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-primary > input:checked + span {
            background-color: rgb(0, 105, 217);
            border-color: rgb(0, 105, 217);
            box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
            background-color: rgb(109, 163, 221);
            border-color: rgb(109, 163, 221);
            box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        /* Switch Info */
        .checkbox.checbox-switch.switch-info label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-info > input:checked + span {
            background-color: rgb(23, 162, 184);
            border-color: rgb(23, 162, 184);
            box-shadow: rgb(23, 162, 184) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
            background-color: rgb(102, 192, 206);
            border-color: rgb(102, 192, 206);
            box-shadow: rgb(102, 192, 206) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        /* Switch Warning */
        .checkbox.checbox-switch.switch-warning label > input:checked + span,
        .checkbox-inline.checbox-switch.switch-warning > input:checked + span {
            background-color: rgb(255, 193, 7);
            border-color: rgb(255, 193, 7);
            box-shadow: rgb(255, 193, 7) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }

        .checkbox.checbox-switch.switch-warning label > input:checked:disabled + span,
        .checkbox-inline.checbox-switch.switch-warning > input:checked:disabled + span {
            background-color: rgb(226, 195, 102);
            border-color: rgb(226, 195, 102);
            box-shadow: rgb(226, 195, 102) 0px 0px 0px 8px inset;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
        }
