.glyphicon-star {
    color:gold;
  }
  span.glyphicon-calendar {
    padding-left:20px;
  }
  .fa-facebook-official {
    color:#3b5998;;
  }
  .fa-twitter-square {
    color:#00aced;
  }
  .fa-google-plus {
    color: #dd4b39;    
  }