
@{
    ViewData["Title"] = "Home Page";
}

<require from="./caro_page.css"></require>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="medimatch landing" class="img-responsive" />
            <div class="carousel-caption" role="option">
                   <p>Search, compare and connect with Australian Medical Services you can trust </p>
                <p>
                    <a class="btn btn-default" href="/Home/App"> 
                        Get Started
                    </a>
                </p>

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Register as a Medical Professional or Patient today </p>
                <p>
                    <a class="btn btn-default" href="/Account/Register">
                        Join Us
                    </a>
                    </p>
                </p>

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bringing patients the service that they require </p>
                <p>

                    <a class="btn btn-default" href="/Home/App">
                        Get Started
                    </a>
                </p>

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Whatever Medical Professionals you need, find them using MediMatch Application </p>
                <p>
                    <a class="btn btn-default" href="/Home/App">
                        Get Started
                    </a>
                </p>

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-user-md m-auto text-primary"></i>
              </div>
              <h3>Medical Professionals</h3>
              <p class="lead mb-0">Find medical professionals of various services where you need them!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-hospital m-auto text-primary"></i>
              </div>
              <h3>Facilities</h3>
              <p class="lead mb-0">Find facilities and what services they offer nearby!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-align-justify m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Quick and easy to use!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
            <div class="col-xs-12 text-center">
                <span class="border border-white" >
                   <h2>Welcome to our MediMatch RMIT Project</h2>
                   <p>sign up and leave a review to recommend other to the fantastic service</p>
                </span>   
              </div>
          </div>
                <div class="col-sm-6">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" itemprop="name">Medi match lived up to all the hype</h3>
          </div><!--/panel-heading-->
          <div class="panel-body" itemprop="reviewBody">
            <p>My tooth ached like a hernia and i was loosing site of reality, when medimatch saved the day a simple click and i connected to a range of all time in my area, dentist 5 stars medimatch such an amazing setup.</p>

            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <small>
              <span itemprop="name">-- Rodger Melley</span>
            </span><!--/author schema -->

              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

              <meta itemprop="datePublished" content="01-01-2016">01-01-2016
              
              <span class="pull-right">
              <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                  <span itemprop="ratingValue">5</span> / 
                <span itemprop="bestRating"> stars </span>
              </span><!--/reviewRating-->
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </small>
          </div><!--/panel-body-->
          <div class="panel-footer clearfix">
              <div class="col-sm-1"><i class="fa fa-facebook-official fa-2x"></i></div>
              <div class="col-sm-1"><i class="fa fa-twitter-square fa-2x"></i></div>
              <div class="col-sm-1"><i class="fa fa-google-plus fa-2x"></i></div>
          </div><!--/panel-footer-->
        </div><!--/panel-->
      </div><!--/col-sm-6-->
      <div class="col-sm-6">
          <div class="panel panel-default">
          <div class="panel-heading">
            <span itemscope itemtype="http://schema.org/Review">
            <h3 class="panel-title" itemprop="name">Links to the good guys</h3>
          </div><!--/panel-heading-->
          <div class="panel-body" itemprop="reviewBody">
            <p>When i suddenly contracted elephantitis of the head and couldnt fit through the door frame!! Medimatch was on hand to send a mobile doctor who specilized in such a rare condition well done medimatch 10 starts..</p>

            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <small>
              <span itemprop="name">-- Biffa Bacon</span>
            </span><!--/author schema -->

              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

              <meta itemprop="datePublished" content="01-01-2016">01-01-2016
              
              <span class="pull-right">
              <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                  <span itemprop="ratingValue">5</span> / 
                <span itemprop="bestRating"> stars </span>
              </span><!--/reviewRating-->
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </small>
          </div><!--/panel-body-->
          <div class="panel-footer clearfix">
              <div class="col-sm-1"><i class="fa fa-facebook-official fa-2x"></i></div>
              <div class="col-sm-1"><i class="fa fa-twitter-square fa-2x"></i></div>
              <div class="col-sm-1"><i class="fa fa-google-plus fa-2x"></i></div>
          </div><!--/panel-footer-->
        </div><!--/panel-->
      </div><!--/col-sm-6-->
    </div>
</div>
