li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.au-target.link-active a,
li.au-target.link-active a:hover,
li.au-target.link-active a:focus {
    background-color: #92c7a3;
    color: white;
}
