<div class="form-group">
    <label for="location.streetNo">Street No</label>
    <input type="text" value.bind="medicalProfessional.Location.StreetNo" id="location.streetNo" placeholder="First Name">
</div>
<div class="form-group">
    <label for="medicalProfessional.location.street">Street</label>
    <input type="text" value.bind="medicalProfessional.Location.Street" id="location.street" placeholder="First Name">
</div>
<div class="form-group">
    <label for="location.postCode">Post Code</label>
    <input type="text" value.bind="medicalProfessional.Location.PostCode" id="location.postCode" placeholder="First Name">
</div>
<div class="form-group">
    <label for="location.suburb">Suburb</label>
    <input type="text" value.bind="medicalProfessional.Location.Suburb" id="location.suburb" placeholder="First Name">
</div>
<div class="form-group">
    <label for="website">Website</label>
    <input type="text" value.bind="medicalProfessional.Website" id="website" placeholder="Website">
</div>
