<template>
    <h1>Create Facility</h1>

    <p>This component demonstrates creating a Medical Facility.</p>
    
    <form role="form" submit.delegate="CreateFacility()">
        <div class="form-group">
            <label for="facilityName">Facility Name</label>
            <input type="text" value.bind="facility.facilityName" id="facilityName" placeholder="Facility Name">
        </div>
        <div class="form-group">
                <label for="facilityNo">Phone Number</label>
                <input type="text" value.bind="facility.number" id="facilityNo" placeholder="+61 0420200">
            </div>
        <div class="form-group">
            <label for="email">Public Email</label>
            <input type="text" value.bind="facility.email" id="email" placeholder="email@domain.com">
        </div>
        <div class="form-group">
            <label for="location.streetNo">Street No</label>
            <input type="text" value.bind="facility.Location.StreetNo" id="location.streetNo" placeholder="Street No">
        </div>
        <div class="form-group">
            <label for="facility.location.street">Street</label>
            <input type="text" value.bind="facility.Location.Street" id="location.street" placeholder="Street">
        </div>
        <div class="form-group">
            <label for="location.postCode">Post Code</label>
            <input type="text" value.bind="facility.Location.PostCode" id="location.postCode" placeholder="Post Code">
        </div>
        <div class="form-group">
            <label for="location.suburb">Suburb</label>
            <input type="text" value.bind="facility.Location.Suburb" id="location.suburb" placeholder="Suburb">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" value.bind="facility.website" id="website" placeholder="Website">
        </div>
        <button type="submit" class="btn btn-primary">Create Facility</button>
    </form>

</template>