<template>
    <require from="./home.css"></require>
    
    
    <div class="row">
            <div class="col-lg-6">

                    <h10>Medimatch</h10>
                    <p>To make use of our range of services including</p>

                    <li><a href="/Account/Register">Register as Patient</a> to search for the desired service.</li>
                    <li><a href="/Account/Register">Register as a Professional </a> to reach new patients.</li>
                    <li><a href="/#/medical/list">Search for Medical Professionals</a></li>
                    <li><a href="/#/facilities/list">Search for Medical Facilities</a></li>
            </div>
            <div class="col-lg-6">
                    <img src="/images/medical-appointment.jpeg" alt="Medical background">
              </div>
          </div>
    
    <p>Medimatch is here to connect you with all your medical needs</p>
</template>
